body{
    background-image:url('dark_wood.png');
}
p{
    color:white;
    font-family: "Arial";
    font-weight: bold;
    background-color: #8E41D5;
}
h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
    background-color: #8E41D5;
}
li{
    background-color: #8E41D5;
}

#Header{
    text-align:center;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    background-color: #8E41D5;
    border: solid 8px black;
}
#Header h1{
    font-size: 60px;
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;
    background-color: #8E41D5;
}
#LeftNav{
    float:left;
    text-align:center;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding-bottom: 8px;
    border: solid 8px black;
    background-color: #8E41D5;
}

#LeftNav img{
    background-color: #8E41D5;
}

ul{
    list-style-type: none;
    padding-left: 0px;
    background-color: #8E41D5;
}

#LeftNav u1{
    background-color: #8E41D5;
}

#LeftNav h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
    background-color: #8E41D5;
}

#Content{
    padding:15px;
    text-align:center;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    background-color: #8E41D5;
    border: solid 8px black;
}

#Footer{
    text-align:center;
    border: solid 8px black;
    background-color: #8E41D5;
}
a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}